<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Velkommen</title>
</head>
<body>
    <h1>Velkommen!</h1>
    <p>Her er noen tips og ressurser for å komme i gang på en effektiv måte:</p>
    <ul>
        <li><strong>Håndtering av hemmeligheter</strong>: Sørg alltid for at sensitiv informasjon, som API-nøkler og passord, lagres sikkert. Aldri legg hemmeligheter direkte i koden.</li>
        <li><strong>Personopplysninger</strong>: Personidentifiserbar informasjon skal aldri lagres på GitHub. Dette inkluderer personnumre, adresser, kontaktinformasjon og annen personlig data.</li>
    </ul>
    <h2>Viktige ressurser:</h2>
    <ul>
        <li><a href="https://sikkerhet.nav.no" target="_blank">Security Playbook (Sikkerhetsrelaterte tips & tricks)</a></li>
        <li><a href="https://utvikling.intern.nav.no" target="_blank">Tekniske Retningslinjer</a></li>
        <li><a href="https://github.com/navikt/offentlig" target="_blank">GitHub-retningslinjer for åpen kildekode</a></li>
    </ul>
    <p>Utforsk disse ressursene for å sikre samsvar og gode praksiser i dine bidrag.</p>
    
    <h2>Trenger du hjelp?</h2>
    <p>Team AppSec er alltid tilgjengelig for å hjelpe deg med spørsmål om sikkerhet, beste praksis eller andre utfordringer. Ikke nøl med å kontakte en av oss direkte eller på Slack-kanalen <strong>#appsec</strong>.</p>
</body>
</html>